<!DOCTYPE html>
<html lang="en">
<title>About Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>

<body>
    <style>

        img{
            margin: 100px auto;
            display: block;
        }
        .button-area{
            text-align: center;
            margin-bottom: 30px;
        }
        button{
            padding: 8px 20px;
            font-family: "Montserrat", sans-serif;
            font-size: 20px;
        }
    
    </style>
    </head>
    <body>
        <img id="img-area" src="https://cdn.mos.cms.futurecdn.net/YYH9o4wmSXJfvbzRTq5BTY-1200-80.jpg" alt="">
    
        
        <div class="button-area">
            <button onclick="racoon()">Show me a racoon!</button>
            <button onclick="raccon2()">Hungry Racoon </button>
            <button onclick="racoon3()">Happy Racoon </button>
            <button onclick="racoon4()">Racoon in a bin </button>
            <button onclick="racoon5()">Sad Racoon</button>
            <button onclick="racoon6()">Baby Racoon</button>
            <button onclick="racoon7()">Many Racoons</button>
            <button onclick="racoon8()">Racoon Family</button>
            <button onclick="racoon9()">Clever Racoon</button>
            <button onclick="racoon10()">Confused Racoon</button>
            <button onclick="racoon11()">Racoon Meme</button>
            <button onclick="racoon12()">Racoon on a chair </button>
            <button onclick="racoon13()">Angry Racoon</button>
            <button onclick="racoon14()">Sleepy Racoon</button>
    
            
    
    
        <script>
            
            var img = document.getElementById("img-area");
            function raccon(){
                img.src='https://cdn.mos.cms.futurecdn.net/YYH9o4wmSXJfvbzRTq5BTY-1200-80.jpg';
            }
    
            function raccon2(){
                img.src='https://i.pinimg.com/originals/1c/76/36/1c763630af3537e7514c1391fd4756df.png';
            }
    
            function racoon3(){
            img.src='https://forum.americanexpedition.us/images/raccoon/happy-racoon-face.jpg';
            }
    
            function racoon4(){
                img.src='https://www.saferbrand.com/media//articles/images/935/iStock_000007035875_Large.jpg';
            }

            function racoon5(){
                img.src='https://pbs.twimg.com/profile_images/1338227536539639810/TYHvvrkx_400x400.jpg';
            }

            function racoon6(){
                img.src='https://i.pinimg.com/originals/26/2b/48/262b482f2edf82b5237f353a5576ab95.jpg';
            }

            function racoon7(){
                img.src='https://1funny.com/wp-content/uploads/2011/08/lots-of-racoons.jpg';
            }

            function racoon8(){
                img.src='http://rainforestreports.weebly.com/uploads/1/5/5/7/15578800/9143175_orig.jpg';
            }

            function racoon9(){
                img.src='https://laughingsquid.com/wp-content/uploads/2018/08/Problem-Solving-Raccoon-Opens-Gate.gif?w=640';
            }

            function racoon10(){
                img.src='https://dublinohiousa.gov/dev/dev/wp-content/uploads/2019/09/racoon-dimster.png'
            }

            function racoon11(){
                img.src='https://i.chzbgr.com/full/4132613/h8E9A971B/a-funny-list-of-funny-memes'
            }

            function racoon12(){
                img.src='https://i.pinimg.com/564x/52/d8/40/52d840f95cd042e2991968f1657e00b9.jpg'
            }

            function racoon13(){
                img.src='https://i.pinimg.com/originals/fd/3c/aa/fd3caaa2bb70770a5778e3262560dea8.jpg'
            }

            function racoon14(){
                img.src='https://cdn.cnn.com/cnnnext/dam/assets/191030152629-03-pumpkin-raccoon-death-live-video.jpg'
            }
    
    
        </script>
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="index.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Home</a>
    <a href="about.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About</a>
    <a href="contact.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Contact</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bara-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 4</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Enjoy the racoons!</h1>
</header>

 <p>This template is by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
