<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg{
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.bgimg {background-image: url("https://pbs.twimg.com/media/EiEeKhIVgAAckVM.jpg")}

</style>
<body>
<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
  <div class="w3-display-middle w3-text-white w3-center">
    <h1 class="w3-jumbo">You made the racoons sad :(</h1>
    <h2><a href="enter.html">Click here to make them happy...</a></h2>
    
  </div>
</header>
</body>
</html>
